<div class="center hero-unit">
  <h1>We Do Do Do!!!</h1>

  <h2>
    What is key? 
    <a href="http://www.merriam-webster.com/dictionary/activity">Activity</a>!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>

  <p><%= link_to "Sign up using Facebook", '/auth/facebook', class: "btn btn-primary" %></p>

</div>

<%= link_to image_tag("barnov.png", alt: "BN"), 'http://en.wikipedia.org/wiki/Investment' %>